<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzt.module.app.mapper.AppAssetMapper">

    <resultMap type="AppAsset" id="AppAssetResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="sort"    column="sort"    />
        <result property="netWork"    column="net_work"    />
        <result property="ip"    column="ip"    />
        <result property="mac"    column="mac"    />
        <result property="importance"    column="importance"    />
        <result property="desc"    column="desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
    </resultMap>

    <sql id="selectAppAssetVo">
        ast.id, ast.customer_id, ast.name, ast.type, ast.sort, ast.net_work, ast.ip, ast.mac, ast.importance, ast.desc,
        ast.create_time,ast.update_time, ast.deleted
    </sql>

    <select id="selectAppAssetList" parameterType="AppAsset" resultMap="AppAssetResult">
        select
        <include refid="selectAppAssetVo"/>
        from app_asset as ast
        <where>
            deleted = 0
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="netWork != null "> and net_work = #{netWork}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="mac != null  and mac != ''"> and mac = #{mac}</if>
            <if test="importance != null "> and importance = #{importance}</if>
            <if test="desc != null  and desc != ''"> and desc = #{desc}</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
        </where>
        ORDER BY  id desc
    </select>

    <select id="selectAppAssetById" parameterType="Long" resultMap="AppAssetResult">
        select
        <include refid="selectAppAssetVo"/>
        from app_asset as ast
        where id = #{id}
    </select>

    <select id="selectAppAssetByIds" resultMap="AppAssetResult">
        select
        <include refid="selectAppAssetVo"/>
        from app_asset as ast
        where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertAppAsset" parameterType="AppAsset" useGeneratedKeys="true" keyProperty="id">
        insert into app_asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="sort != null">sort,</if>
            <if test="netWork != null">net_work,</if>
            <if test="ip != null and ip != ''">ip,</if>
            <if test="mac != null">mac,</if>
            <if test="importance != null">importance,</if>
            <if test="desc != null">desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
            <if test="account != null  and account != ''">  account ,</if>
            <if test="password != null  and password != ''">  password </if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="sort != null">#{sort},</if>
            <if test="netWork != null">#{netWork},</if>
            <if test="ip != null and ip != ''">#{ip},</if>
            <if test="mac != null">#{mac},</if>
            <if test="importance != null">#{importance},</if>
            <if test="desc != null">#{desc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="account != null  and account != ''"> #{account},</if>
            <if test="password != null  and password != ''">  #{password}</if>
         </trim>
    </insert>

    <update id="updateAppAsset" parameterType="AppAsset">
        update app_asset
        <trim prefix="SET" suffixOverrides=",">
            <!--<if test="customerId != null">customer_id = #{customerId},</if>-->
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="netWork != null">net_work = #{netWork},</if>
            <if test="ip != null and ip != ''">ip = #{ip},</if>
            <if test="mac != null">mac = #{mac},</if>
            <if test="importance != null">importance = #{importance},</if>
            <if test="desc != null">desc = #{desc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="account != null  and account != ''">  account = #{account},</if>
            <if test="password != null  and password != ''">  password = #{password}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppAssetById" parameterType="Long">
         UPDATE app_asset SET deleted = 1  where id = #{id}
    </delete>

    <delete id="deleteAppAssetByIds" parameterType="String">
        UPDATE app_asset SET deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
